<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user list</title>
</head>
<body>
<h1>user list</h1>
<ul>
    <li th:each="user:${users}" th:text="${user.name} + ':::' + ${user.password} + ':::' + ${user.email}"></li>
</ul>
<table>
    <thead>
    <tr>
        <td>이름</td>
        <td>비밀번호</td>
        <td>이메일</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user:${users}">
      <td th:text="${user.name}"></td>
      <td th:text="${user.password}"></td>
      <td th:text="${user.email}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>