<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>작성 폼</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="wrap">
    <div class="register-box">
        <h2>작성 폼</h2>
        <form th:action="@{/write}" method="post">
            <div class="input-box">
                <p>이름</p>
                <input type="text" name="name" placeholder="이름"/>
            </div>
            <div class="input-box">
                <p>제목</p>
                <input type="text" name="title" placeholder="제목 "/>
            </div>
            <div class="input-box">
                <p>내용</p>
                <textarea name="content" placeholder="내용"></textarea>
            </div>
            <div class="input-box">
                <p>암호</p>
                <input type="password" name="password" placeholder="암호"/>
            </div>
            <button type="submit">제출</button>
        </form>
    </div>
</div>
</body>
</html>